/* resize slideshow */
.slideshow-iframe {
    padding-right: 10px;
    height: 650px;
    height: calc(min(650px, 45vw) + 10px); }
    @media (max-width: 50rem) {
        .slideshow-iframe {
            height: calc(66vw); 
        }
    }

/* Fix visualization - margin problems close to the nav bar when shrinking the screen */
@media (min-width: 66.5rem) {
    .main-content {
       /*margin-left: calc(max(270px, (100% - 1064px) / 2 + 264px));*/
    }
}

    
/* fix bad dot visualization */
.lSPager a:not([class]):hover {
    background-image: none;
}
.lSPager a:not([class]) {
    background-image: none;
}

/* faster transition 0.5 -> 0.1 */
.lSSlideOuter .lSPager.lSpg > li a {
    transition: all 0.1s linear 0s !important;
}

/* Larger blue dot in the slider */
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
    width: 12px;
    height: 12px;
    margin: -4px -2px -2px -2px
}

/* reduce distance between dots (for small screens) */
@media (max-width: 50rem) {
    .lSSlideOuter .lSPager.lSpg > li {
        padding: 0 4px !important;
    }
}
